h1{
    text-align: center;
    margin: 40px;
    margin-top: 70px;
    font-size: 40px;
}
p{
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin:40px;
    margin-top: 100px;
}